[submodule "all"]
  path = all
  url = git@github.com:ao-apps/ao-payments-all.git
  branch = .
[submodule "api"]
  path = api
  url = git@github.com:ao-apps/ao-payments-api.git
  branch = .
[submodule "authorizeNet"]
  path = authorizeNet
  url = git@github.com:ao-apps/ao-payments-authorizeNet.git
  branch = .
[submodule "bom"]
  path = bom
  url = git@github.com:ao-apps/ao-payments-bom.git
  branch = .
[submodule "payflowPro"]
  path = payflowPro
  url = git@github.com:ao-apps/ao-payments-payflowPro.git
  branch = .
[submodule "stripe"]
  path = stripe
  url = git@github.com:ao-apps/ao-payments-stripe.git
  branch = .
[submodule "test"]
  path = test
  url = git@github.com:ao-apps/ao-payments-test.git
  branch = .
[submodule "usaepay"]
  path = usaepay
  url = git@github.com:ao-apps/ao-payments-usaepay.git
  branch = .
