MERCHANT_ID=
MERCHANT_KEY=
PERSISTENCE_PATH=/path/to/PropertiesPersistenceMechanism.properties
testCard.cardNumber=
testCard.expirationMonth=
testCard.expirationYear=
testCard.cvv2=
testCard.firstName=
testCard.lastName=
testCard.companyName=
testCard.email=
testCard.phone=
testCard.fax=
testCard.customerId=
testCard.customerTaxId=
testCard.streetAddress1=
testCard.streetAddress2=
testCard.city=
testCard.state=
testCard.postalCode=
testCard.countryCode=
testCard.comments=
